<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://github.com/firehol/blocklist-ipsets"><span class="glyphicon glyphicon-list-alt"></span> Blocklist Ipsets Source </a>
      </li>
      <li>
        <a href="https://iplists.firehol.org/"><span class="glyphicon glyphicon-eye-open"></span> FireHOL Cybercrime IP Feeds</a>
     </li>
    </ul>
  </div>
</nav>
