<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1>Blocked IP Address Lookup</h1>
      <p>Application to determine whether or not a given IP address is flagged as malicious based on FireHOL feeds</p>
      <a type="button" class="btn btn-lg btn-default" href="/swagger.yaml"><span class="glyphicon glyphicon-flash"></span>
        Download Swagger API Spec</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://gitlab.com/josh.cain/jcain-ip-lookup"><span class="glyphicon glyphicon-download"></span>
        Source on GitLab</a>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-info text-center" role="alert">
      Note that this is a POC application and is not meant for production use
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Basic Usage</h3>
        <p>Query the endpoint with an IP address to determine whether or not the given address as has been flagged as
          malicious:</p>
        <pre><code>
        # first with a not-malicious address
        curl https://jcain-ip-lookup.herokuapp.com/checkIp4/54.230.22.80
        {"isValid":true}

        # or with a naughty address
        curl https://jcain-ip-lookup.herokuapp.com/checkIp4/91.229.182.1
        {"isValid":false,"sourceList":"firehol_level1"}
      </code></pre>
      </div>
      <br />
      <div>
        <h3><span class="glyphicon glyphicon-fast-forward"></span> Or Try with WebSockets (Socket.io)</h3>
        <form id="ip_form" onsubmit="return checkIp()">
          <input id="ip_input" type="text">
          <input type="submit" value="Check IP">
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io.connect('/');

          function checkIp() {
            var inputText = document.getElementById('ip_input').value;
            socket.emit('checkIp4Request', inputText);
            return false;
          };

          // Naive implementation.  Would normally require request/response association (perhaps on IP address as key)
          socket.on('checkIp4Response', function (data) {
            alert('Check Ip4 Response: ' + data);
          });
        </script>
      </div>
      <br />
    </div>
  </div>

</body>

</html>